/* General styles for all menus */
.cbp-spmenu {
	background: #6B6B63;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #fff;
	font: 700 18px 'Open Sans', arial, sans-serif;
	padding: 12px 25px;
	margin: 0;
	background: #6B6B63;
}

.cbp-spmenu h3 span {
	background-image: url(../images/close.png);
	height: 15px;
	width: 14px;
	float: right;
	vertical-align: middle;
	margin: 5px 0;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font: 400 15px 'Open Sans', arial, sans-serif;
}

.cbp-spmenu a:hover {
	background: #78786F;
}

.cbp-spmenu a:active {
	background: #87877C;
	color: #fff;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #78786F;
    padding: 10px 25px;
}

a.close {
	border-bottom: 0;
	padding: 0;
	display: inline;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	right: -300px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 300px;
}

.cbp-spmenu-push-toleft {
	left: -300px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){


	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){


	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}